/*Part Up*/
/*Slide Zone*/

.slider {
	width: 100%;
	height: 336.5px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: black;
}

.slide-zone {
	width: 100%;
	height: 100%;
}

.slide {
	width: 79.7%;
	position: absolute;
	display: none;
	margin: 0 auto;
}

.space-image {
	width: 100%;
	height: 335px;
}

.image {
	width: 100%;
	height: 100%;
}

.active-slide {
	display: block;
}

/*Dot Zone*/

.dots-zone {
	display: inline-block;
	position: absolute;
	width: 80%;
	height: 5%;
	top: 45%;
}

.slider-dots {
	list-style: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

.slider-dots li {
	color: white;
	font-size: 30px;
}

.slider-dots .active-dot {
	color: #363636;
}

.dot {
	display: inline;
}

/*Part Down*/

.partDown {
	background-color: #FF0000;
	position: absolute;
	width: 100%;
	height: 50%;
	padding-left: 20%;
	padding-right: 20%;
}

.partDown, p {
	color: white;
}

.partDown input {
	width: 265px;
	margin-bottom: 2%;
	clear: right;
}

.partDown button {
	border: 1px solid black;
	background-color: black;
}

.table-ingresar {
	border-right: 1px solid white;
	margin-top: 2%;
	float: left;
}

th, h1 {
	text-align: center;
}

table, th, td {
}

.table-perfil {
	float: right;
	margin-top: 2%;
}