body {
	background-color: red;
}

/*Login Style*/
/*Part Up*/
/*Slide Zone*/

.first-row {
	position: absolute;
	top: 0%;
	background-size: cover;
}

.slider {
	/*width: 100%;*/
	height: 316.5px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: black;
}

.slide-zone {
	margin: 0 auto;
	height: 100%;
}

.slide {
	width: 79.7%;
	position: absolute;
	display: none;
	margin: 0 auto;
}

.space-image {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.image {
	width: 99%;
	height: 313px;
	margin: 0 auto;
	z-index: -1;
}

.active-slide {
	display: block;
}

/*Dot Zone*/

.dots-zone {
	/*display: inline-block;*/
	position: absolute;
	/*width: 80%;*/
	top: 288px;
	/*bottom: 0%;*/
	margin: 0 auto;
	padding: 0%;
	background-size: cover;
}

.slider-dots {
	list-style: none;
	/*width: 100%;*/
	height: 100%;
	margin: 0%;
	padding: 0%;
	/*text-align: center;*/
	background-size: cover;
}

.slider-dots li {
	color: white;
	font-size: 30px;
}

.slider-dots .active-dot {
	color: #363636;
}

.dot {
	display: inline;
}

/*Part Down*/

/*.second-row {
	background-color: yellow;
	height: 100%;
}*/

.partDown {
	/*background-color: #FF0000;*/
	/*background-color: red;*/
	/*border: 5px solid red;*/
	margin: 0;
	padding-left: 25%;
	padding-right: 25%;
	height: 344px;
	color: white;
}

input {
	width: 96%;
	clear: right;
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

.forget-pass {
	margin-top: 36px;
}

button {
	border: 1px solid black;
	background-color: black;
	color: white;

}

.first-button {
	margin-top: 25px;
	margin-bottom: 5px;
}

.second-button {
	margin-top: 20px;
	margin-bottom: 5px;
}

.first-form {
	float: left;
	width: 40%;
}

.line {
	float: left;
	width: 20%;
	height: 100%;
}

hr {
	width: 1px;
	height: 317px;
	color: white;
}

.second-form {
	float: left;
	width: 40%;
}

.to-center {
	text-align: center;
}

@media (max-width: 1210px) {
	.partDown {
		padding-left: 20%;
		padding-right: 20%;
	}
}

@media (max-width: 1020px) {
	.partDown {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (max-width: 875px) {
	.partDown {
		padding-left: 10%;
		padding-right: 10%;
	}
	.line {
		width: 10%;
	}
	.first-form {
		float: left;
		width: 45%;
	}
	.second-form {
		float: left;
		width: 45%;
	}
}

@media (max-width: 850px) {
	.partDown {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media (max-width: 615px) {
	.partDown {
		padding-left: 0%;
		padding-right: 0%;
	}
	.line {
		width: 5%;
	}
	.first-form {
		float: left;
		width: 47.5%;
	}
	.second-form {
		float: left;
		width: 47.5%;
	}
}

@media (max-width: 530px) {
	.line {
		display: none;
	}
	.first-form {
		float: left;
		width: 100%;
	}
	.second-form {
		float: left;
		width: 100%;
	}
	.forget-pass {
		margin-top: 10px;
	}
	.first-button {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.second-button {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

/*Chart Style*/

/*Top Chart Area*/

.chart-area {
	background-color: white;
}

.order-position {
	text-align: center;
	background-color: #2D8097;
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
}

.table-chart {
	width: 100%;
}

th {
	background-color: #2D8097;
}

td {
	background-color: #D4712B;
}